.App {
  max-width: 1920px;
  max-height: 1080px;
}

.navbar {
  padding-left: 20px;
  padding-right: 20px;
  height: 10vh;
}

.navbar-brand > h4{
  font-weight:bolder;
}

.form-inline > button {
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
}

.btn-deepblue {
  background-color: #023047;
  color: white;
}

.btn-orange {
  background-color: #FB8500;
  color: white;
}

.Login {
  height: 90vh;
  display: flex;
}

.wrapper {
  display: flex;
  width: 100vw;
  margin: 0px;
}

.left {
  height: 100%;
}

.right {
  height: 100%;
  background-color: #023047;
}


.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  vertical-align: center;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.left-content > * {
  margin: 10px;
}

.left-content > h3 {
  font-weight: bolder;
}
.subtitle {
  margin-top: -5px;
}

.form-foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.remember-password > input {
  accent-color: #023047;
}

.forgot-password > a{
  text-decoration: none;
  color: black;
}